# Generated
tmp-resolvers/

# Logs
yarn-error.log
npm-debug.log
lerna-debug.log
local.log

# IDE
.idea/
.vscode/
*.sublime-*
*.code-workspace

# Misc
.git/
.gitignore
.DS_Store
._*
.Spotlight-V100
.Trashes

# Env variables
.env
